<a href="https://colab.research.google.com/github/Oscar-Velasquez/Programacion-III/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Celsius a kelvin usando lambda

In [ ]:
gradosCelsius = [27, 30, 35, 40, 45]
gradosKelvin = lambda k: k+273.15
k = list(map(gradosKelvin, gradosCelsius))
print(k)

[300.15, 303.15, 308.15, 313.15, 318.15]

In [ ]:
#Kelvin a Celsius usando lambda

In [ ]:
gradosKelvin = [300.15, 303.15, 308.15, 313.15, 318.15]
gradosCelsius = lambda c:int(c-273.15)
c = list(map(gradosCelsius, gradosKelvin))
print(c)

[27, 30, 35, 40, 45]

In [ ]:
#Celsius a Kelvin usando usuario

In [ ]:
gradosKelvin = lambda k: k+273.15
kelvin = int(input("Grados celsius: "))
print(gradosKelvin(kelvin))

Grados celsius: 27
300.15

In [ ]:
#Kelvin a Celsius usando usuario

In [ ]:
gradosCelsius = lambda c: c-273.15
celsius = float(input("Grados kelvin: "))
print(gradosCelsius(celsius))

Grados kelvin: 300.15
27.0

In [ ]:
#Nota final de ciclo de una materia en particular usando lambda

In [ ]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
C1 = (notasProgra[0][0] + notasProgra[0][1] + notasProgra[0][2])/3
C2 = (notasProgra[1][0] + notasProgra[1][1] + notasProgra[1][2])/3
C3 = (notasProgra[2][0] + notasProgra[2][1] + notasProgra[2][2])/3
NF = [C1,C2,C3]
from functools import reduce
NotaFinal = reduce(lambda a, b: a + b, NF)/3
print("Tu Nota Final es: ", NotaFinal)

Tu Nota Final es:  9.0

In [ ]:
#Nota final de ciclo de una materia en particular usando usuario

In [ ]:
def suma(c1, c2, c3):
  return c1 + c2 + c3 
c1 = float(input("Nota del computo 1: "))
c2 = float(input("Nota del computo 2: "))
c3 = float(input("Nota del computo 3: "))

print("Tu nota final de programacion III es: ", c1/3 + c2/3 + c3/3)

Nota del computo 1: 5
Nota del computo 2: 10
Nota del computo 3: 7
Tu nota final de programacion III es:  7.333333333333334

In [1]:
#EJERCICIOS EN PYTHON

In [2]:
#1 Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto.

In [3]:
sueldo = float(input("Su salario es $"))
ISSS = sueldo * 0.003
AFP = sueldo * 0.0625
descuento = (ISSS + AFP)
salario_nominal = sueldo - (ISSS + AFP)

print("Su descuento de AFP es: $", AFP, "Su descuento de ISS es: $", ISSS)

if (salario_nominal <= 520.00):
  print("Su salario neto es: $", salario_nominal)
  print("Libre de impuestos")

elif(salario_nominal <= 900.00):
  tramo2 = salario_nominal * 0.10
  salario_renta = (salario_nominal - tramo2)
  print("Su impuesto a pagar es: $", tramo2)
  print("Su salario es: $", salario_renta)

elif(salario_nominal <= 2000.00):
  tramo3 = salario_nominal * 0.20
  salario_renta = (salario_nominal - tramo3)
  print("Su impuesto a pagar es: $", tramo3)
  print("Su salario es: $", salario_renta)

elif(salario_nominal >= 2000):
  tramo4 = salario_nominal * 0.30
  salario_renta = (salario_nominal - tramo4)
  print("Su impuesto a pagar es: $", tramo4)
  print("Su salario es: $", salario_renta)

else:
  print("libre de impuestos")

Su salario es $2000
Su descuento de AFP es: $ 125.0 Su descuento de ISS es: $ 6.0
Su impuesto a pagar es: $ 373.8
Su salario es: $ 1495.2

In [4]:
#2 Calcular el valor a pagar según el número de metros consumidos de agua potable

In [5]:
#3 Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos

In [6]:
#4 Conversores

In [18]:
#conversores
etiquetas = [
    0,
    ["Seleccione un moneda", "1. Dolar", "2. Colon SV", "3. Quetzal", "4. Lempira", "5. Cordoba", "6. Boliviano", "7. Yen Japones", "8. Euro", "9. Dolar canadiense", "10. Peso MX"],
    ["Selecione un almacenamiento", "1. MegaByte", "2. Bit", "3. Byte", "4. KiloByte", "5. GigaByte", "6. KiloBit", "7. GigaBit", "8. Nibble", "9. TeraBit", "10. MegaBit"]
    ,["Seleccione una longitud", "1. Metro", "2. Kilometro", "3. Centimetro", "4. Milimetro", "5. Milla", "6. Yarda", "7. Pie", "8. Pulgada", "9. Milla nautica", "10. Micrometro"]
    ,["Seleccione una unidad de masa", "1. Libra", "2. Kilogramo", "3. Tonelada", "4. Gramo", "5. Miligramo", "6. Centigramo", "7. Onza", "8. Nanogramo", "9. Quilate", "10. Piedra" ]
    ,["Seleccione un tiempo", "1. Hora", "2. Segundos", "3. Años", "4. Meses", "5. Dias", "6. Semanas", "7. Minutos", "8. Milisegundos", "9. Microsegundos", "10. Nanosegundos"]
    ,["Seleccione un volumen", "1. Litro", "2. Mililitro", "3. Metro Cubico", "4. Galon USA", "5. Cuarto USA", "6. Pulgada Cubica", "7. Pie Cubico", "8. Galon Imperial", "9. Cuarto Imperial", "10. Onza Liquida USA"]
    ,["Seleccione una area", "1. Metros Cuadrados", "2. Tareas", "3. Manzanas", "4. Yarda Cuadrada", "5. Kilometro Cuadrado", "6. Pie Cuadrado", "7. Hectarea", "8. Acre", "9. Milla Cuadrada", "10. Pulgada Cuadrada"]]

valores = [0,
  [0,1, 8.75, 7.73, 24.49, 35.96, 6.96, 137.56, 1.00, 1.30, 20.02],
  [0,1, 8388608, 1048576, 1024, 0.0009765625, 8192, 0.0078125, 2097152, 0.0000076294, 8],
  [0,1, 0.001, 100, 1000, 0.000621371, 1.09361296, 3.2808388799999997, 39.370066559999997935, 0.00053995663640604750835, 999999.69062400003895],
  [0,1, 0.45359237, 0.0004535924, 453.59237, 4.5359237, 4.5359237, 16, 4.5359237, 2267.96185, 0.0714285714],
  [0,1, 3600, 0.0001140771, 0.0013689254, 0.0416666667, 0.0059523808, 60, 3600000, 3600000000, 3600000000000],
  [0,1, 1000, 0.001, 0.264172, 1.05669, 61.0237, 0.0353147, 0.219969, 0.879877, 33.814],
  [0,1, 0.0015903307888, 0.00014196479273, 1.1959900463, 0.000001, 10.763910417,  0.0001, 0.00024710538147, 3.8610215855, 1550.0031]

]
def convertir(opcion, de, a, cantidad):
  return valores[opcion][a] / valores[opcion][de] * cantidad

print("** MENU **")
print("1. Monedas")
print("2. Almacenamiento")
print("3. Longitud")
print("4. Masa")
print("5. Tiempo")
print("6. Volumen")
print("7. Area")
opcion = int(input("Opcion: "))

print( etiquetas[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etiquetas[opcion][de], " en ", etiquetas[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

** MENU **
1. Monedas
2. Almacenamiento
3. Longitud
4. Masa
5. Tiempo
6. Volumen
7. Area
Opcion: 7
['Seleccione una area', '1. Metros Cuadrados', '2. Tareas', '3. Manzanas', '4. Yarda Cuadrada', '5. Kilometro Cuadrado', '6. Pie Cuadrado', '7. Hectarea', '8. Acre', '9. Milla Cuadrada', '10. Pulgada Cuadrada']
DE: 2
A: 3
Cantidad: 16
2. Tareas  en  3. Manzanas  equivale a:  1.4282793867016406

In [7]:
#5 Realizar un conversor propio, donde especifique el valor de conversión